{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header"><h1>Student Page</h1></div>

{% endblock header %}

{% block content %}
<a href="nolink" data-role="button">Een link met geen doel</a>

{% endblock content %}