{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header">
<a href="index.html" data-rel="back">Back</a>
<h1>Student Page</h1></div>

{% endblock header %}

{% block content %}
<<<<<<< HEAD
<?php echo "hello" ?>
<a href="nolink" data-role="button">Een link zonder doel</a>
=======
<a href="nolink" data-role="button">Een link met geen doel</a>
>>>>>>> 911c4a2c383949d32b5ba3767fc86441411417a3

{% endblock content %}