{% extends "layouts/base.twig" %}
{% block header %}

<div data-role="header"><h1>Uren Registratie</h1></div>

{% endblock header %}

{% block content %}

<div data-role="content" id="content">
	{{ page }}
</div>

{% endblock content %}
	