{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header"><h1>Geen toegang</h1></div>

{% endblock header %}

{% block content %}

<div data-role="content">Geen toegang</div>
<a href="{{ constant('BASE') }}/login" data-role="button">Inloggen</a>
{% endblock content %}