{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header"><h1>SLC</h1></div>

{% endblock header %}

{% block content %}

<div data-theme="a" data-role="collapsible-set">

	<div data-role="collapsible">
		<h3>Cursus beheer</h3>

		<div data-role="collapsible">
			<h3>Cursus toevoegen</h3>
			<p>I'm the collapsible set content for section 1.</p>
		</div>

		<div data-role="collapsible">
			<h3>Cursus wijzigen</h3>
			<p>I'm the collapsible set content for section 2.</p>
		</div>

		<div data-role="collapsible">
			<h3>Cursus verwijderen</h3>
			<p>I'm the collapsible set content for section 2.</p>
		</div>

	</div>

	<div data-role="collapsible">
		<h3>Gebruikers Beheer</h3>

		<div data-role="collapsible">
			<a href="http://www.google.nl"><h3>Gebruiker toevoegen</h3></a>
		</div>

		<div data-role="collapsible">
			<h3>Gebruiker wijzigen</h3>
			<p>I'm the collapsible set content for section 2.</p>
		</div>

		<div data-role="collapsible">
			<h3>Gebruiker verwijderen</h3>
			<p>I'm the collapsible set content for section 2.</p>
		</div>

		<div data-role="collapsible">
			<h3>Gebruiker koppelen aan cursus</h3>
			<p>I'm the collapsible set content for section 2.</p>
		</div>

	</div>

</div>

{% endblock content %}