{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header"><h1>Student Page</h1></div>

{% endblock header %}

{% block content %}
<?php echo "hello" ?>
<a href="{{ constant('BASE') }}/student/{{ id }}/uren" data-role="button">Uren invullen</a>

{% endblock content %}