{% extends "layouts/base.twig" %}

{% block header %}

<div data-role="header">
	<a href="index.html" data-rel="back">Back</a>
	<h1>Uren</h1>
</div>

{% endblock header %}

{% block content %}
	<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
		<thead>
			<tr>
				<th>Onderdeel</th>
				<th>Totaal uren</th>
				<th>Prognose</th>
			</tr>
		</thead>
		<tbody>
			{% for data in onderdeeloverzichtarray %}
			<tr>
				<td>{{ data.onderdeel }}</td>
				<td>{{ data.studielast }}</td>
				<td></td>
			</tr>
			{% endfor %}				
		</tbody>
	</table>

		{% endblock content %}